{
  "openapi": "3.1.0",
  "info": {
    "title": "Nrth AI Public API",
    "version": "1.0.0",
    "description": "AI-native API for Nrth AI — builder of the Nrth Agentic OS, a secure on-premise AI runtime for enterprise agents. Lets agents read service info, submit inquiries, book consultations, and chat with the sales agent.",
    "contact": { "email": "contact@nrth.no", "name": "Nrth AI" }
  },
  "servers": [
    { "url": "https://nrth.no/api", "description": "Production" }
  ],
  "paths": {
    "/services": {
      "get": {
        "operationId": "getServices",
        "summary": "List service catalog",
        "responses": {
          "200": {
            "description": "Array of services",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceList" }
              }
            }
          }
        }
      }
    },
    "/inquiry": {
      "post": {
        "operationId": "submitInquiry",
        "summary": "Submit a discovery brief",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Inquiry" }
            }
          }
        },
        "responses": {
          "200": { "description": "Inquiry received", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } } },
          "400": { "description": "email and problem are required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "The inquiry could not be sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/book": {
      "post": {
        "operationId": "bookConsultation",
        "summary": "Request a meeting",
        "description": "Sends a meeting request to Nrth AI and a confirmation email to the customer in Norwegian or English (lang). Nrth AI confirms the time by email within one business day. Confirm the details with the user before calling.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Booking" }
            },
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/Booking" }
            }
          }
        },
        "responses": {
          "200": { "description": "Request received", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } } },
          "400": { "description": "Missing or invalid field", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "The request could not be sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/chat": {
      "post": {
        "operationId": "chat",
        "summary": "Chat with the Nrth AI sales agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["messages"],
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/Message" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant reply",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reply": { "type": "string" },
                    "next_action": {
                      "type": "string",
                      "enum": ["continue", "submitInquiry", "bookConsultation"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceList": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": { "type": "string" },
            "name": { "type": "string" },
            "outcome": { "type": "string" }
          }
        }
      },
      "Inquiry": {
        "type": "object",
        "required": ["email", "problem"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "company": { "type": "string" },
          "role": { "type": "string" },
          "problem": { "type": "string" },
          "urgency": { "type": "string", "enum": ["exploring", "this_quarter", "asap"] },
          "lang": { "type": "string", "enum": ["nb", "en"], "default": "nb", "description": "Language of the inquiry. Sets the email subject." }
        }
      },
      "Booking": {
        "type": "object",
        "required": ["tema", "navn", "epost"],
        "properties": {
          "tema": { "type": "string", "enum": ["ai-vurdering", "implementering", "ai-tjenester", "foredrag", "annet", "ai-assessment", "implementation", "ai-services", "talk", "other"], "description": "Topic. Norwegian and English values are both accepted: AI assessment, implementation, AI services, talk or course, other." },
          "navn": { "type": "string", "maxLength": 2000, "description": "Name" },
          "epost": { "type": "string", "format": "email", "maxLength": 2000, "description": "Email address. The confirmation is sent here." },
          "bedrift": { "type": "string", "maxLength": 2000, "description": "Company" },
          "maal": { "type": "string", "enum": ["salg", "effektivitet", "kvalitet", "vet-ikke"], "description": "What they want to achieve: increase sales, work more efficiently, improve quality or customer experience, not sure yet." },
          "naar": { "type": "string", "enum": ["denne-uken", "neste-uke", "senere"], "description": "When suits them: this week, next week, in two weeks or later." },
          "tid": { "type": "string", "maxLength": 2000, "description": "Preferred time, free text, for example Tuesday morning." },
          "form": { "type": "string", "enum": ["fysisk", "digitalt"], "description": "Meeting format: in person in Norway, or online." },
          "lang": { "type": "string", "enum": ["nb", "en"], "default": "nb", "description": "Language of the confirmation email." }
        }
      },
      "Ok": {
        "type": "object",
        "required": ["ok"],
        "properties": { "ok": { "type": "boolean", "const": true } }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": { "error": { "type": "string" } }
      },
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": { "type": "string", "enum": ["user", "assistant", "system"] },
          "content": { "type": "string" }
        }
      }
    }
  }
}
